@import 'style.css'
yellow_A = #FCD27F
orange_A = #dd4f24
black_A = #151515
blue_A = #008FD5
white_A = #ccc
.Dropsection
	border 2px dashed blue_A
	font-size 1.2em
	margin 0 1.5em 1em 1.5em 
	padding 5em
	text-align center
	&.is-animated
		border 5px dashed orange_A
//oocss
.btn
	background orange_A
	box-shadow 1px 1px 10px black_A
	color white
	margin-left .5em
	padding .5em
	text-shadow 1px 1px 10px black_A
	&:active
		box-shadow 1px 1px 10px black_A inset
.center
	margin 0 auto